syllabus.pdf
.DS_Store
1022 agent.py
A4_Patch.zip
A4_Patch/
AIMA-3rd-edition.pdf
Assignment3_Code.zip
Assignment4_Code.zip
BFS DFS.pptx
Course notes/
Decision Trees - Introduction to Machine Learning.pdf
Decision Trees from Scratch Using ID3 Python_ Coding It Up !! _ by Lope.ai _ Medium.pdf
How To Implement The Decision Tree Algorithm From Scratch In Python.pdf
Machine Learning with Python_ Decision Trees in Python.pdf
Scanned Document.jpg
SokobanEnvironment_Student.zip
Sokoban_patch-1/
Sokoban_patch-2/
agent.py
agentHW2.py
assignment3.py
assignment4.py
excercise/
extra/
hillclimber.py
hillclimber2.py
knn/
minmax.pptx
neural.pptx